<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuroraLib.Core" version="1.7.1" targetFramework="net48" />
  <package id="AuroraLib.Core.Format" version="1.0.4" targetFramework="net48" />
  <package id="AuroraLib.Pixel" version="1.5.4" targetFramework="net48" />
  <package id="AuroraLib.Pixel.BitmapExtension" version="1.5.4" targetFramework="net48" />
  <package id="AuroraLib.Pixel.Formats" version="0.8.2" targetFramework="net48" />
  <package id="AuroraLib.Pixel.Formats.Dolphin" version="0.8.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO.Hashing" version="10.0.12" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
</packages>